
/* ##### GENERAL CLASS ##### */
*, *:after, *::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html, body {
	height: 100%;
	width: 100%;
}
body {
	font-family: 'Source Sans Pro', helvetica, arial, sans-serif;
	color: #333333;
	line-height: 1.6;
	overflow-x: hidden;
}
.title          { font-size:60px; display:block; }
hr.star         { margin:25px auto 30px; padding:0; max-width:250px; border:0; border-top:solid 5px; text-align:center; }
hr.star:after   { content:"\2605"; position:relative; top:-.8em; padding:0 .25em; font-size: 2.5em; }

.margin         { margin: 80px 0; }


a {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
a:focus {
	outline: none;
	text-decoration: none;
	color: #707070;
}
a:hover {
	text-decoration: none;
	color: #707070;
}
iframe {
	border: 0;
}
h1, h2, h3, h4, h5, h6, .section-title {
	font-family: 'Oswald', helvetica, arial, sans-serif;
}
.form-group label.error{
font-weight: 400;
} 
section{
 display:block; 
}
section img {
	margin-top: 10px;
	margin-bottom: 20px;
}
blockquote {
	border-color: #dedede;
}
.mask {
	background: #fff;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 100000;
}
#intro-loader {
	width: 80px;
	height: 80px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -40px 0 0 -40px;
	background: url("../img/preloader.gif");
}
.section-content{
padding-bottom:60px;
}
.section-title div {
  width:80px;
  height:80px;
  margin:50px auto 0px auto;
  background-color: #cccccc;
  border-radius: 100%;
  -webkit-border-radius: 100%;
}
.section-title div span {
	color: #ffffff;
  margin-top: 27px;
}
.section-title h1 span{
background-color: rgba(59, 63, 80, 0.6);
border-radius: 6px;
-webkit-border-radius: 6px;
color:#fff;
padding:0px 10px;
}
.section-title h1.white span{ 
background-color: rgba(239,239,239,0.6);
border-radius: 6px;
-webkit-border-radius: 6px;
color:#fff;
padding:0px 10px;
}
.section-title h1 {
	font-size: 46px;
  letter-spacing: 2px;
	margin: 20px auto 50px auto;
  padding:0px 40px;
  position: relative;
  line-height: 1.6;
}
.section-title h1, .section-title h2, .section-title h3 {
	text-transform: uppercase;
	color: #666666;
	font-weight: 700;
	display: inline-block;                               
}
.section-title h1:before, .section-title h1:after {
    background: none repeat scroll 0 0 #666666;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    top: 35px;
    width: 30px;
}
.section-title h1.white:before, .section-title h1.white:after {
    background: none repeat scroll 0 0 #ffffff;
}
.section-title h1:after {
    left: auto;
    right: 0;
}
p {
	line-height: 1.6em;
	margin-bottom: 1.6em;
  font-weight: 300;
}
.clear {
	clear: both;
	display: block;
	height: 0;
	overflow: hidden;
	visibility: hidden;
	width: 0;
}
.img-center {
	margin-left: auto;
	margin-right: auto;
}
.new-line {
	margin-top: 60px;
}

.white{
color:#ffffff !important;
}
.uppercase{
text-transform: uppercase;
}
.padBottom{
padding-bottom: 15px;
}
.padTop{
padding-top: 15px;
}
.killMargin{
margin:0px;
}
.fa-ul i{
font-size:12px;
line-height: 1.6;
}
/* ##### NAV BAR ##### */
.navbar {
    background-color: #FFFFFF;
    box-shadow: 0 4px 0 rgba(0, 0, 0, 0.1);
    padding: 30px 0;
    transition: all 1s ease-out 0s;
    z-index: 3000;
}
.navbar .navbar-nav {
    float: none;
    margin: 10px 0;
}
.navbar .navbar-nav li {
    display: block;
    margin-left: 5px;
    transition: all 0.2s ease-out 0s;
}
.navbar .navbar-nav li a {
    background-clip: border-box;
    border-radius: 4px;
    color: #FFFFFF;
    display: block;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    outline: medium none;
    padding: 12px 16px;
}
.navbar .navbar-nav li a:hover {
    background-color: #DF5757;
    color: #FFFFFF;
    outline: medium none;
}
.navbar .navbar-nav li a:focus {
    background-color: rgba(0, 0, 0, 0);
    outline: medium none;
}
.navbar .navbar-nav li:hover {
    background-clip: border-box;
    background-color: #DF5757;
    border-radius: 4px;
    color: #FFFFFF;
}
.navbar .navbar-nav .active {
    background-clip: border-box;
    background-color: #DF5757;
    border-radius: 4px;
    color: #FFFFFF;
    transition: all 0.2s ease-out 0s;
}
.navbar .navbar-nav .active a, .navbar .navbar-nav .active a:hover {
    color: #FFFFFF;
}
.navbar .navbar-brand {
    margin: 0 0 0 15px;
    padding: 0;
}
.navbar .navbar-header h1 {
    font-size: 1.88889em;
    margin: 0;
    padding: 0;
}
.navbar .navbar-header h1 a.navbar-brand-title {
    display: inline-block;
    font-size: inherit;
    line-height: 40px;
    margin: 0;
    padding: 0;
}
.navbar .navbar-toggle {
    border: 1px solid #BEBEBE;
    border-radius: 4px;
    margin-bottom: 3px;
    margin-top: 3px;
    outline: medium none;
    transition: all 0.2s ease-out 0s;
}
.navbar .navbar-toggle:hover {
    background-color: #717171;
    border: 1px solid #717171;
}
.navbar .navbar-toggle:hover .icon-bar {
    background-color: #FFFFFF;
    transition: all 0.2s ease-out 0s;
}
.navbar .navbar-toggle .icon-bar {
    background-color: #8B8B8B;
}
.navbar .navbar-collapse {
    background-color: #3b3f50;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0) inset;
    margin-top: 15px;
    text-align: center;
    max-height:400px;
}
.navbar-transparent {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 #000000;
}
.navbar-transparent .navbar-nav .active {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 1px #FFFFFF inset;
    margin-top: 0;
}
.navbar-transparent .navbar-nav .active a {
    color: #FFFFFF;
}
.navbar-transparent .navbar-nav li a {
    color: #FFFFFF;
}
.navbar-transparent .navbar-nav li a:hover {
    background-color: #FFFFFF;
    color: #717171;
}
.navbar-transparent .navbar-nav li {
    color: #FFFFFF;
}
.navbar-transparent .navbar-nav li:hover {
    background-color: #FFFFFF;
    color: #717171;
}
.navbar-transparent .navbar-nav .active:hover {
    background-color: #FFFFFF;
    border: medium none;
    color: #717171;
}
.navbar-transparent .navbar-nav .active:hover a {
    background-color: #FFFFFF;
    color: #717171;
}
.navbar-transparent .navbar-toggle {
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    margin-bottom: 3px;
    margin-top: 3px;
    outline: medium none;
    transition: all 0.2s ease-out 0s;
}
.navbar-transparent .navbar-toggle:hover {
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
}
.navbar-transparent .navbar-toggle:hover .icon-bar {
    background-color: #717171;
    transition: all 0.2s ease-out 0s;
}
.navbar-transparent .navbar-toggle .icon-bar {
    background-color: #FFFFFF;
}
.logo {
    width: 45px; 
    height: 35px; 
    opacity: 0.8; 
    border-radius: 3px; 
    -moz-border-radius: 3px; 
    -ms-border-radius: 3px; 
    -o-border-radius: 3px; 
    -webkit-border-radius: 3px; 
    margin: 5px; 
}

.darken {
    background-color: rgba(0, 0, 0, 0.8);
}
.minified {
    opacity: 0.9;
    padding: 15px 0 5px 0px;
    transition: all 0.5s ease-out 0s;
}





/* ##### HOME SECTION ##### */
#home {
	position: relative;
	width: 100%;
	height: 100%;
	color: #fff;
  overflow: hidden;
}
#home h1 {
	margin: 10px 0;
	color: #fff;
  letter-spacing: -4px;
	text-transform: uppercase;
}
#home h4 {
	margin: 0px;
	color: #ffffff;
}
.slide-content {
	height: 100%;
	display: table;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	width: 100%;
	margin: 0px auto;
  text-align: center;
  background: url(../img/overlay.png) repeat left top;
}
.header-video .slide-content{
 background: none !important;
}
.slide-content .text-center {
	vertical-align: middle;
	display: table-cell;
	min-width: 300px;
}
.header {
	padding: 20px;
	max-width: 850px;
	margin-left: auto;
	margin-right: auto;
  color:#ffffff;
}
.header .heading {
    font-family: 'Source Sans Pro', helvetica, arial, sans-serif;
    display: block;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    width: 100%; 
    letter-spacing: 1px;   
}

.header .box-heading {
    font-family: 'Oswald', helvetica, arial, sans-serif;
    display: block;
    font-size: 80px;
    line-height: 1.2;
    width: 100%;
    margin:0px auto;
    text-transform: uppercase;
    letter-spacing: -2px;
}


.header img     { height: 230px; width:500px; }
.icon           { font-size: 50px; margin-top: 70px; display: block; }


.header .box-inner {
    border: 3px solid #FFFFFF;
    display: inline-block;
    padding: 4px 20px;
}
.tp-dottedoverlay{
 z-index:0 !important;
}
.tp-banner .sub-heading {
	font-family: 'Source Sans Pro', helvetica, arial, sans-serif;
	display: block;
	font-size: 32px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.box-title {
	font-family: 'Oswald', helvetica, arial, sans-serif;
	display: block;
	font-size: 80px;
	line-height: 1.2;
	text-transform: uppercase;
	letter-spacing: -2px;
	border: 3px solid #FFFFFF;
	padding: 4px 20px;
}






/* 

#### ABOUT SECTION ##### */
#about        { background: #f2f2f2; color: #000000; }
#about hr.star:after{ color: #e67e22; background: #f2f2f2; }
.portrait     { height: 360px; width: 360px;  }
.name-title {
	width: 100%;
  max-width:360px;
	margin: -20px auto 0px auto;
	padding: 15px 15px 8px 15px;
	background-color: black;
}
.name-title h2, .name-title h5 {
	color: #ffffff;
	text-align: center;
}
.name-title h2 {
	margin: 0px;
	padding: 0px;
  letter-spacing: 0px;
  font-size:36px;
	text-transform: uppercase;
}
.quoteline{
font-family: oswald, Impact, 'Arial Narrow Bold', sans-serif;
font-size: 23px;
letter-spacing: 2px;
font-weight: 40;
}
.arrow-list {
margin:0px;
padding:0px;
list-style: none outside none;
}
.arrow-list li:before {
    content: "\f054";
    font-family: 'fontawesome';
    font-size: 8px;
    font-weight: normal;
    line-height: 1;
    margin-right: 5px;
}
.counters-item {
	border: 2px solid #000000;
	width: 110px;
	height: 100px;
	margin: 0px 6px 6px 0px;
    float:left;

}
.counters-item i{
margin-top:24px;
font-size: 2em;
color:#000000;
}






/* ---------- Skills Details ------------*/

.chart {
    display: inline-block;
    height: 150px;
    margin-bottom: 50px;
    margin-top: 50px;
    position: relative;
    text-align: center;
    width: 150px;
}
.chart canvas {
    left: 0;
    position: absolute;
    top: 0;
}
.percent {
    display: inline-block;
    line-height: 150px;
    z-index: 2;
    font-size:1.6em;
}
.percent:after {
    content: "%";
    font-size: 0.8em;
    margin-left: 0.1em;
}
.skillBar {
    margin-left: -40px;
    margin-top: 40px;
    text-align: left !important;
}
.skillBar li {
    list-style: none outside none;
}
.skillBar li:last-child span {
    margin-bottom: 0;
}
.skillBar li .skillBg {
    background: none repeat scroll 0 0 #CCCCCC;
    border-radius: 6px;
    margin-bottom: 20px;
}
.skillBar li span {
    border-radius: 0px 15px 15px 0px;
    -webkit-border-radius: 0px 15px 15px 0px;
    display: block;
    height: 36px;
    width: 0;
}
.skillBar li p {
    padding-bottom: 2px;
}
.skillBar li span {
    overflow: visible !important;
    position: relative;
}
.skillBar li span strong {
    color: #FFFFFF;
    display: block;
    left: 12px;
    line-height: 12px !important;
    position: absolute;
    top: 12px;
    white-space: nowrap;
}
.skillBar li span {
    background-color: black;
}



/* ==== RESUME ==== */
#experience              { background: #ffffff; color: #000000; }

#experience skills      { font-size: 2.2em; }
#experience skills      { font-size: 2.2em; }
#experience hr.star:after{ color: #e67e22; background: #ffffff; }
#experience h3           {
					   background: #ffffff;
					   color: #000000;
					   border:3px solid black;
					   -moz-border-radius: 3px;
					   -ms-border-radius: 3px; 
					   -o-border-radius: 3px; 
					   -webkit-border-radius: 3px;
					   border-radius: 3px;
					   border-color: #000000;
					   padding: 15px;
					   text-transform: uppercase;
					   letter-spacing: 1px;
					   font-weight: 700;
					   -moz-transition: all 0.3s;
					   -ms-transition: all 0.3s; 
					   -o-transition: all 0.3s; 
					   -webkit-transition: all 0.3s;
	 				   transition: all 0.3s;
					 }
#experience h3:hover     { background: #000000; color: #ffffff; border-color: #000000; }
#experience a            { background: #ffffff;color: #000000; text-decoration:none; }
#experience a :hover     { background: #000000; color: #ffffff; text-decoration : none; }




/* ==== CONTACT ==== */
#contact                     { background: #f2f2f2; color: #000000; }
.has-success .form-control   { border:0px solid black; }
.has-success .control-label  { color: #000000; }
hr.star:after                { border-color: #000000; color: #e67e22; background: #f2f2f2; }
.btn-social                  {
							   display:inline-block;
							   width:50px;
							   height:50px;
							   border:3px solid black;
							   -moz-border-radius: 100%;
							   -ms-border-radius: 100%; 
							   -o-border-radius: 100%; 
						       -webkit-border-radius: 100%;
						       border-radius:100%;
							   text-align:center;
							   font-size:25px;
							   font-weight:900;
							   line-height:45px;
                             }
.btn-social i                { color: #000000; }
.socials li                  { margin: 5px; }
.socials a                   { transition: all .4s; }
.socials li:hover a          { background: #000000; }
.socials li:hover i          { color: #f2f2f2; }
.btn-primary                 {
							   background: #ffffff;
							   color: #000000;
							   border:3px solid black;
							   padding: 10px;
							   -moz-border-radius: 3px;
							   -ms-border-radius: 3px; 
							   -o-border-radius: 3px; 
							   -webkit-border-radius: 3px;
							   border-radius: 3px;
							   border-color: #000000;
							   margin: 0px 0px;
							   text-transform: uppercase;
							   letter-spacing: 1px;
							   font-size: 18px;
							   -moz-transition: all 0.3s;
							   -ms-transition: all 0.3s; 
							   -o-transition: all 0.3s; 
							   -webkit-transition: all 0.3s;
	 						   transition: all 0.3s;
							}
#contact .btn-primary:hover { background: #000000; color: #ffffff; border-color: #000000; }





/* ==== FOOTER ==== */
footer     { background: #000000; color: #ffffff; }
footer p   { padding: 10px 0; margin: 0; }
footer img { height: 60px; width:150px; margin-top: 20px;}




/*===================================================================================*/
/*  WRAPPER                                                                            */
/*===================================================================================*/

#portfolio-wrap{
    position: fixed;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    background: #FFF;
    z-index: 5000;
    display: none;
    overflow: hidden;
}

#portfolio-page{
    height: 100%;
    width: 100%;
    display: table;
}

#portfolio-page #portfolio-content{
    vertical-align: middle;
    display: table-cell;
}
#protfolio-control{
    margin: 40px 0 0;
}

#protfolio-control #prev-project,
#protfolio-control #close-project,
#protfolio-control #next-project{
    display: inline-block;
    font-size: 40px;
    color: #333;
    display: inline-block;
    margin-bottom: 40px;
}

/*===================================================================================*/
/*  PROJECT DETAILS                                                                  */
/*===================================================================================*/
#portfolio hr.star:after{ color: #e67e22; background: #ffffff; }




#portfolio-items img{
    margin:0px !important;
}
.img img{
    width: 100%;
}
.single-portfolio img{
    width: 100%;
}

.project-desc h3{
    margin: 0 0 20px;
    text-align: center;
}
.project-desc .line-strong{
margin-bottom:20px;
}
.project-desc .list-details{
    margin: 0px 0px 20px 0px;
    padding: 0;
    list-style: none;
}
.project-desc .list-details li{
    padding: 10px 0;
    border-bottom: 1px dashed #FC6F5C;
}


.project-desc .list-details li i{
    margin-right: 10px;
}

.slider_container{
	position: relative;
	overflow: hidden;
	margin-bottom: 24px;
  max-width:640px;
  width:100%;
}
.slider_container .flex-direction-nav li{
	list-style: none;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 40px;
	right: -40px;
	-webkit-transition: all ease .2s;
	-moz-transition: all ease .2s;
	-ms-transition: all ease .2s;
	-o-transition: all ease .2s;
	transition: all ease .2s;
}
.slider_container .flex-direction-nav li:first-child{
	right: auto;
	left: -40px;
}
.slider_container:hover .flex-direction-nav li {
	right: 0;
}
.slider_container:hover .flex-direction-nav li:first-child {
	left: 0;
}
.slider_container .flex-direction-nav a{
	position: absolute;
	width: 40px;
	top: 0;
	bottom: 0;
	font-size: 0;
	line-height: 0;
}
.slider_container .flex-direction-nav a:after{
	display: block;
	position: absolute;
	content: "";
	width: 16px;
	height: 26px;
	background: url(../img/slider_controls.png) 0 bottom no-repeat;
	top: 50%;
	margin-top: -13px;
	left: 12px;
}
.slider_container .flex-direction-nav a.flex-next:after{
	left: auto;
	right: 12px;
	background-position: right bottom;
}
.slider_container .flex-direction-nav a:hover{
	background: transparent;
}
.slider_container .flex-direction-nav a:hover:after {
	background-position: 0 0;
}
.slider_container .flex-direction-nav a.flex-next{
	right: 0;
	left: auto;
}
.slider_container .flex-direction-nav a.flex-next:hover:after {
	background-position: right 0;
}
.slider_container ul.slides li {
	list-style: none;
	display: none;
}
.slider_container ul.slides{
	height: auto;
	overflow: hidden;
	margin: 0;
  padding:0;
}
.slider_container .flex-direction-nav {
	margin: 0;
}
/*===================================================================================*/
/*  PROJECT FILLER                                                                   */
/*===================================================================================*/

#portfolio-filter{
    margin: 30px 0px;
}

.portfolio-filter-list {
	padding:0;
    margin: 0;
    overflow: hidden;
}

.portfolio-filter-list li {
	color: ;
    text-transform: uppercase;
    margin: 0px;
    display: inline-block;
}
.portfolio-filter-list li:after{   
content: "&#160";
position: relative;
}
.portfolio-filter-list li:last-child:after{   
content: "";
}
.portfolio-filter-list a {
    color: #000000;
    font-size: 16px;
    padding: 5px 10px;
    position: relative;
    display: inline-block;
    letter-spacing: 0.1em;
    font-weight: 300;
    text-decoration: none !important;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}
.white a {
    color: #000000;
 }   
 

 
.portfolio-filter-list a:hover          { background-color: #f2f2f2; }


.portfolio-filter-list a.active {
    background-color: #FFFFFF;
    color:#A4A4A4;
}

/*===================================================================================*/
/*  PROJECT ITEMS                                                                    */
/*===================================================================================*/

.portfolio-items {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.portfolio-items article {
    float: left;
    overflow: hidden;
    position: relative;
    margin:0.5% 0.5% 0 0;
}

.portfolio-items article *
{
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    -webkit-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
}

.portfolio-items article img
{
    width: 100%;
}

.portfolio-items article:hover img
{

    -moz-transform: scale(1.4) rotate(6deg);
    -ms-transform: scale(1.4 rotate(6deg));
    -webkit-transform: scale(1.4) rotate(6deg);
    transform: scale(1.4) rotate(6deg);
}

.portfolio-items article .overlay
{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #efefef;
    color: #000;
    top:0;
    left:0;
    opacity: 0;
    text-align: center;
    padding: 50px 10px;
    -moz-transform: scale(0.1);
    -ms-transform: scale(0.1);
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
}

.portfolio-items .item-info {
    height: 100px;
    margin-top: -50px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 97%;
}

.portfolio-items article .overlay i{
    font-size: 40px;
}

.portfolio-items article .overlay h3
{
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;
    color:#333333;
}


.portfolio-items article:hover .overlay
{
    opacity: 0.8;
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
}

.portfolio-items article .overlay span
{
    font-size: 11px;
    text-transform: uppercase;
}

/*===================================================================================*/
/*  ISOTOPE                                                                          */
/*===================================================================================*/

.isotope-hidden.isotope-item{
    pointer-events: none;
    z-index: 1;
}

.isotope,
.isotope .isotope-item{
    z-index: 2;

    -webkit-transition-duration: 0.6s;
       -moz-transition-duration: 0.6s;
        -ms-transition-duration: 0.6s;
         -o-transition-duration: 0.6s;
            transition-duration: 0.6s;
}

.isotope {
    -webkit-transition-property: height, width;
       -moz-transition-property: height, width;
        -ms-transition-property: height, width;
         -o-transition-property: height, width;
            transition-property: height, width;
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
       -moz-transition-property: -moz-transform, opacity;
        -ms-transition-property: top, left, opacity;
         -o-transition-property: top, left, opacity;
            transition-property: transform, opacity;
}
#process{
padding-bottom:120px;
}
.process-flow > li {
    text-align: center;
    color:#ffffff; 
    margin: 0 auto;
    max-width: 256px;
    opacity: 0.2;
    transition: opacity 0.7s ease-out 0s;
}
.process-flow > li.active {
    opacity: 1;
}
.process-flow > li p {
    margin-bottom: 0;
}
.process-node {
    background: none repeat scroll 0 0 rgba(254, 142, 34, 0);
    border-radius: 100%;
    -webkit-border-radius: 100%;
    height: 100px;
    margin: auto;
    position: relative;
    transition: background 0.6s ease-out 0s;
    width: 100px;
    text-align: center;
}

.process-node i {
    font-size: 30px;
    color:#ffffff;
    opacity: 1;
    position: relative;
    top: 35px;
    transition: opacity 0.6s ease-out 0s;
} 
.process-node i:last-child {
    opacity: 0;
}
.process-node.active {
    background: none repeat scroll 0 0 #FC6F5C;
}
.process-node.active i:first-child {
    opacity: 0;
}
.process-node.active i:last-child {
    opacity: 1;
}
.line {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.1);
    height: 7em;
    margin: auto;
    width: 4px;
}
.line.active .progress {
    height: 7em;
}
.progress {
    background: none repeat scroll 0 0 #ffffff;
    height: 0;
    transition: height 1.2s ease-out 0s;
    width: 100%;
}

